{{ define "main" }}
<div class="container-404">
    <div class="content">
        <!-- <img src="/imgs/404.gif" /> -->
        <div class="words">

                <b>Yeah... we don't have this thing... whatever the fuck you call it.</b>
                <br><br>
								<img src="imgs/cat.svg" alt="Stupid image of a cat, because who gives a shit about cats.">
                <br>
                <br>
                <br>
        </div>
    </div>
    <div class="desc">
        <div>You are not lost, just hit the back button.</div>
        <div><a href="/">No worries, it happens.</a></div>
    </div>
</div>
{{ end }}
