{{ define "main" }}
<div class="container-main container-home">
<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md-->
   <div class="content-md">
       {{.Content}}
   </div>

    <!-- {{- partial "partials/_media.html" . -}} -->
    {{- partial "partials/_contact.html" . -}}

    <div class="content">
        <div class="desc">
					This needs to be centered.
            <a href="{{ with .Site.Params.img.link }}{{.}}{{else}}/pages{{end}}">
                <!-- <div class="img-wrapper" style="background: {{ with .Site.Params.img.background }}{{.}}{{end}};"> -->
								<div class="img-wrapper">
                    {{if .Site.Params.img.src }}
                    <img src="/imgs/{{ .Site.Params.img.src }}" width="{{ with .Site.Params.img.width }}{{.}}{{end}}" />
                    {{ else }}
                    <img src="/imgs/anoduck.png" width="100%" />
                    {{ end }}
                </div>
            </a>
        </div>
    </div>
		<!-- <div class="count">Share {{ len .Pages }} Page</div> -->
		<!-- {{- partial "partials/_archive.html" . -}} -->



</div>
{{ end }}
